*,
*::before,
*::after {
  box-sizing: border-box;
}

$green: #64bd38;
$red: red;
$color-input-background: #f2f2f3;
$white: white;
$black: #1c1819;
$blue-primary: #2a81dd;
$color-balance-background: #f0fafd;
$gray: #888b94;
$color-label-background: #d6ecfb;
$light-green: #eff8eb;
$light-yellow: #fffae7;
$light-blue: #e9f2fb;
$color-buttor-border: #e9e9e9;
$transparent-black: rgba($black, 0.1);
$yellow-primary: rgba(255, 221, 97, 1);

$text-size-primary: 16px;
$text-size-secondary: 14px;
$text-main-line-height: 24px;

@mixin main-text {
  font: {
    size: $text-size-primary;
  }

  line-height: $text-main-line-height;
}

@mixin main-subtext {
  font: {
    size: $text-size-secondary;
  }

  line-height: $text-main-line-height;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin max-width {
  width: 100%;
  max-width: 1440px;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}
