.submit-button {
    background-color: $blue-primary;
    max-width: 150px;
    color: $white;
    padding: 4px 15px;
    border-radius: 8px;
    min-width: 134px;
    border: 0;
    transition: all 0.2s ease;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0 2px 4px $transparent-black;

    &_ask {
        background-color: $yellow-primary;
        color: $black;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
